<div class="center jumbotron">
  <h1>Welcome to Foosball</h1>

  <h2>
    This is the home page for the Foosball
  </h2>
  <%= link_to "Add player", 'addPlayer', class: "btn btn-lg btn-primary" %>
  <%= link_to "Add match", 'addMatch', class: "btn btn-lg btn-primary" %>
  <%= link_to "See ranking", 'rankingPage', class: "btn btn-lg btn-primary" %>
  <%= link_to "Meet players", 'meetPlayers', class: "btn btn-lg btn-primary" %>
</div>
