  <div>
  <h1>This is foosball player!</h1>
    <ul>
      <li><a href="http://railsgirls.com">Name</a></li>
      <li><a href="https://en.wikibooks.org/wiki/Ruby_Programming">Avatar</a></li>
      <li><a href="http://guides.rubyonrails.org">Surname</a></li>
    </ul>
  </div>
  <img src="http://railsgirls.com/images/rg-warsaw.png" />
